<div class="full-h" fxLayout="column">
    <div class="page-content m-t-5" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center">
            <span>
                <strong>{{'tags.dashboardsManagement.editDashboard' | translate}}</strong>
            </span>
            <span fxFlex></span>
        </div>
        <div class="m-10 dash-create-content">
            <div fxLayout="column" fxFlex="50">
                <div>
                    <div class="form-group" fxLayout="row" fxFlexAlign="center center">
                        <label fxFlex="30" for="">{{'tags.dashboardsManagement.dashboardName' | translate}}
                            <span style="color: red"> *</span>
                        </label>
                        <input fxFlex="70" required type="text" class="form-control" name="" id="" placeholder="" value="Dashboard 001">
                    </div>
                    <div class="form-group" fxLayout="row" fxFlexAlign="center center">
                        <label fxFlex="30" for="">{{'tags.dashboardsManagement.description' | translate}}</label>
                        <textarea fxFlex="70" class="form-control description" name="" id="" rows="10">ABC-xyz</textarea>
                    </div>
                </div>
                <div fxLayout="row" fxFlexAlign="end center">
                    <div fxFlex></div>
                    <button mat-button class="common-btn m-r-25">{{'tags.cancel' | translate}}</button>
                    <button mat-button class="common-btn">{{'tags.save' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>