<div class="other-data">
  <div class="workforce-data">
    <fieldset>
      <legend>Upload workforce data</legend>
      <app-workforce-data></app-workforce-data>
    </fieldset>
  </div>
  <div class="meeting-room">
    <fieldset>
      <legend>Upload meeting room booking data</legend>
      <app-meeting-room></app-meeting-room>
    </fieldset>
  </div>
  <div class="mapping-data">
    <fieldset>
      <legend>Upload ID mapping data</legend>
      <app-mapping-data></app-mapping-data>
    </fieldset>
  </div>
</div>