.min-h {
    min-height: 250px;
}

.legend {
    position: absolute;
    width: 200px;
    height: 200px;
    
}

.position-relative {
    position: relative;
}

/* Chart style */
.tooltip-chart {
    width: 100px;
}
/* End chart */