<div fxFill fxLayout="column" id="login-page">
    <div class="heading-toolbar">
        <strong class="title-page">WorkPlace</strong>
        <label class="solution">solution</label>
        <!-- <div class="" fxLayoutAlign="center"> -->
        <select-language onlyIcon="true" style="float:right;"></select-language>
        <!-- </div> -->
    </div>
    <div *ngIf="tenantId !== 'system'" class="client-logo">
        <div fxFill fxLayoutAlign="center center">
            <img src="" />
        </div>
    </div>
    <div class="login-form">
        <div class="login-header">
            <span>{{'tags.welcome' | translate}}</span>
        </div>
        <div class="login-content">
            <!--<div class="error-massage" [style.visibility]="invalidCredentialMsg?'visible':'hidden'">{{'tags.invalidLogin' | translate}}</div>-->
            <div>
                <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()" fxLayout="column" fxLayoutGap="10px">
                    <mat-form-field class="full-w" floatPlaceholder="always">
                        <input required [(ngModel)]="userModel.email" [maxlength]="inputMaxName" matInput placeholder="{{'tags.email' | translate}}" formControlName="email" autofocus [pattern]="emailPattern">
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)" class="color-error fs-12">
                            <div *ngIf="email.errors.required">
                                {{'messages.message2' | translate}}
                            </div>
                            <div *ngIf="email.errors.pattern">
                                {{'tags.message.invalid.email' | translate}}
                            </div>
                        </mat-error>
                        <!-- <div *ngIf="userModel.email.length == 100" class="color-error fs-12">
                            {{'tags.message.length' | translate}}
                        </div> -->
                    </mat-form-field>
                    <mat-form-field class="full-w" floatPlaceholder="always">
                        <input required [(ngModel)]="userModel.password" matInput type="password" placeholder="{{'tags.password' | translate}}" formControlName="password">
                        <mat-error *ngIf="password.invalid && (password.dirty || password.touched)" class="color-error fs-12">
                            <div *ngIf="password.errors.required">
                                {{'messages.message2' | translate}}
                            </div>
                        </mat-error>
                        <mat-icon matSuffix>visibility_off</mat-icon>
                    </mat-form-field>
                    <div *ngIf="userModel.loginFailedNumber >= 3" class="re-captcha marg-top-10">
                        <re-captcha #captcha required (resolved)="recaptchaCallback($event)" siteKey="6LeuVUwUAAAAAHmpZXKRK4BvmlBbIdcbK3afOZHa"></re-captcha>
                    </div>
                    <div *ngIf="errorMessage && errorMessage.length > 0" class="color-error fs-12">
                        {{errorMessage | translate}}
                    </div>
                    <div fxLayoutAlign="start center">
                        <mat-checkbox class="" formControlName="rememberMe" [(ngModel)]="userModel.rememberMe" (change)="changeRememberMe()">{{'tags.rememberMe' | translate}}</mat-checkbox>
                        <div fxFlex></div>
                        <span class="link-button color-1 fs-14" [ngClass]="{'disabled': tenantId !== 'system'}" (click)="goToResetPassword()">{{'tags.forgotPassword' | translate}}</span>
                    </div>
                    <div class="m-b-10" fxLayoutAlign="center center">
                        <button mat-button class="common-btn" [disabled]="loginForm.invalid || (userModel.loginFailedNumber >= 3 &&  !captchaValue)" type="submit">{{'tags.login' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-toolbar box-shadow-t" fxLayout="row" fxLayoutAlign="start center">
        <img src="assets/logo-hitachi.png" style="max-height: 150%;height: 26px" />
        <div fxFlex></div>
        <span class="fs-12 color-black" style="max-height: 100%;">© Hitachi, Ltd. 2018. All rights reserved.</span>
    </div>
</div>