<div fxFill>
  <div fxFill fxLayout="column">
    <div class="dialog-header" fxLayout="row" fxLayoutAlign="start center">
      <span class="page-title" style="text-transform: inherit;">{{data.title}}</span>
      <div fxFlex></div>
      <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Close">close</mat-icon>
      </button>
    </div>
    <div class="p-10" style="min-height: 70px;word-wrap: break-word;">
      <span style="text-align: center;">{{data.message}}</span>
    </div>
    <div class="dialog-footer" fxLayout="row">
      <div fxFlex></div>
      <div class="m-r-10" fxLayoutAlign="start center">
        <button mat-button [mat-dialog-close]="true" class="common-btn ">{{'tags.yes' | translate}}</button>
      </div>
      <div fxLayoutAlign="start center">
        <button mat-button mat-dialog-close class="common-btn">{{'tags.no' | translate}}</button>
      </div>
    </div>
  </div>
</div>