@import '~styles/variables';
:host::ng-deep {
    .menu-button {
        color: $colorW;
        // border-radius: $menuBorderRadius;
        border-left: solid 1px; 
        font-size: 20px;
        line-height: $heightMenuTb;
        // text-transform: uppercase;
        &.active {
            background-color: $menuActiveBgColor !important;
            font-weight: 700;
        }
        &.toggle {
            padding-right: 30px;
            .mat-button-ripple:after {
                content: "";
                position: absolute;
                left: calc(100% - 21px);
                bottom: calc(50% - 4px);
                height: 0px;
                border-top: 5px solid #FFF;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }
        }
        &:hover {
            background-color: $colorHover2;
        }
        &[disabled] {
            color: $colorDisabled;
        }
    }
    .menu-container {
        position: absolute;
        background-color: $colorW;
        color: $colorB;
        text-align: center;
        font-size: 1.5em;
        overflow: hidden;
        z-index: 1000;
        button {
            color: $color1;
            font-size: 14px;
            text-align: left;
            &.active {
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 0;
                    border-bottom: 1px solid $colorSelected;
                    width: 100%;
                }
                &:after {
                    content: "";
                    position: absolute;
                    left: calc(50% - 5px);
                    bottom: 1px;
                    height: 0;
                    border-bottom: 5px solid $colorSelected;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                }
                .mat-button-ripple:before {
                    // content: "";
                    // position: absolute;
                    // left: 0;
                    // top: calc(50% - 5px);
                    // border-left: 5px solid #CC0000;
                    // border-bottom: 5px solid transparent;
                    // border-top: 5px solid transparent;
                    // content: "";
                    // position: absolute;
                    // left: 0;
                    // top: 0;
                    // height: 0;
                    // border-top: 1px solid $color4;
                    // width: 100%;
                }
                .mat-button-ripple:after {
                    // content: "";
                    // position: absolute;
                    // left: calc(100% - 5px);
                    // top: calc(50% - 5px);
                    // border-right: 5px solid #CC0000;
                    // border-bottom: 5px solid transparent;
                    // border-top: 5px solid transparent;
                    // content: "";
                    // position: absolute;
                    // left: calc(50% - 5px);
                    // bottom: 1px;
                    // top: 0;
                    // border-top: 5px solid $color4;
                    // border-left: 5px solid transparent;
                    // border-right: 5px solid transparent;
                }
            }
        }
    }
}