<div class="full-wh" fxLayout="column" fxLayoutGap="20px">
    <mat-card class="m-20">
        <mat-card-header>
            <!-- <mat-card-title>Seat level</mat-card-title> -->
        </mat-card-header>
        <mat-card-content>
            <ch002 [floorId]="project.floorId" [fromDate]="project.timeFrom | date:'yyyy-MM-dd hh:mm:ss'" [toDate]="project.timeTo | date:'yyyy-MM-dd hh:mm:ss'" [showDescription]="true"></ch002>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>

    <mat-card class="m-20">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
            <ch003 [floorId]="project.floorId" [fromDate]="project.timeFrom | date:'yyyy-MM-dd hh:mm:ss'" [toDate]="project.timeTo | date:'yyyy-MM-dd hh:mm:ss'"></ch003>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
    <mat-card class="m-20">
        <mat-card-header>
            <!-- <mat-card-title>Seat level</mat-card-title> -->
        </mat-card-header>
        <mat-card-content>
            <ch004 [floorId]="project.floorId" [fromDate]="project.timeFrom | date:'yyyy-MM-dd hh:mm:ss'" [toDate]="project.timeTo | date:'yyyy-MM-dd hh:mm:ss'" [showDescription]="true"></ch004>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
    <mat-card class="m-20">
        <mat-card-header>
            <!-- <mat-card-title>Seat level</mat-card-title> -->
        </mat-card-header>
        <mat-card-content>
            <ch006 [floorId]="project.floorId" [fromDate]="project.timeFrom | date:'yyyy-MM-dd hh:mm:ss'" [toDate]="project.timeTo | date:'yyyy-MM-dd hh:mm:ss'"></ch006>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
    <mat-card class="m-20">
        <mat-card-header>
            <!-- <mat-card-title>Seat level</mat-card-title> -->
        </mat-card-header>
        <mat-card-content>
            <ch008 [floorId]="project.floorId" [fromDate]="project.timeFrom | date:'yyyy-MM-dd hh:mm:ss'" [toDate]="project.timeTo | date:'yyyy-MM-dd hh:mm:ss'" [showDescription]="true"></ch008>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
    <mat-card class="m-20">
        <mat-card-header>
            <!-- <mat-card-title>Seat level</mat-card-title> -->
        </mat-card-header>
        <mat-card-content>
            <ch901 [floorId]="project.floorId" [fromDate]="project.timeFrom | date:'yyyy-MM-dd hh:mm:ss'" [toDate]="project.timeTo | date:'yyyy-MM-dd hh:mm:ss'"></ch901>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>