<div fxFill fxLayout="column">
    <div class="heading-toolbar">
        <strong class="title-page">WorkPlace</strong>
        <label class="solution">solution</label>
        <select-language onlyIcon="true" style="float:right;"></select-language>
    </div>
    <div class="login-form">
        <div class="login-header">
            <span>{{'tags.welcome' | translate}}</span>
        </div>
        <div class="login-content">
            <!--<div class="error-massage" [style.visibility]="invalidCredentialMsg?'visible':'hidden'">{{'tags.invalidLogin' | translate}}</div>-->
            <div>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onFormSubmit()" fxLayout="column">
                    <div class="notification">
                        <label>Enter your email and we'll send you a link to reset your password</label>
                    </div>
                    <label class="col-sm-3 col-form-label">{{'tags.clientManagement.email' | translate}}
                        <span style="color: red"> *</span>
                    </label>
                    <mat-form-field floatPlaceholder="always" class="m-b-10">
                        <input matInput [(ngModel)]="email" formControlName="emailControl" autofocus required>
                        <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)" class="color-error fs-12">
                            <div *ngIf="resetPasswordForm.hasError('pattern',['emailControl'])" class="color-error fs-12">
                                {{'tags.message.invalid.email' | translate}}
                            </div>
                            <div *ngIf="resetPasswordForm.hasError('required',['emailControl'])" class="color-error fs-12">
                                {{'tags.message.required.field' | translate}}
                            </div>
                        </div>
                    </mat-form-field>
                    <div class="re-captcha marg-top-10">
                        <re-captcha #captcha required (resolved)="recaptchaCallback($event)" siteKey="6LeuVUwUAAAAAHmpZXKRK4BvmlBbIdcbK3afOZHa"></re-captcha>
                    </div>
                    <div class="m-y-20" fxLayoutAlign="center center">
                        <button mat-raised-button class="send-button" type="submit" [disabled]="!resetPasswordForm.valid || !reCaptcha">{{'tags.send' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-toolbar box-shadow-t" fxLayout="row" fxLayoutAlign="start center">
        <img height="26" src="assets/logo-hitachi.png" />
        <div fxFlex></div>
        <span class="fs-12 color-black">© Hitachi, Ltd. 2018. All rights reserved.</span>
    </div>
</div>