<div fxFill>
  <div fxFill fxLayout="column">
    <div class="dialog-header" fxLayout="row" fxLayoutAlign="start center">
      <span class="page-title fs-16" style="text-transform: inherit;">{{'tags.setupSensorPlacement.sensorInformation' | translate}}</span>
      <div fxFlex></div>
    </div>
    <div class="p-20" style="min-height: 70px">
      <div>
        <p>{{'tags.setupSensorPlacement.sensorID' | translate}}: {{data.id}}</p>
        <p>{{'tags.setupSensorPlacement.sensorName' | translate}}: {{data.sensorName}}</p>
        <p>{{'tags.setupSensorPlacement.sensorType' | translate}}: {{data.sensorType}}</p>
        <p>{{'tags.setupSensorPlacement.macAddress' | translate}}: {{data.macAddress}}</p>
      </div>
    </div>
  </div>
</div>