<div fxFill fxLayout="column">
    <div class="heading-toolbar">
        <strong class="title-page">WorkPlace</strong>
        <label class="solution">solution</label>

        <select-language onlyIcon="true" style="float:right;"></select-language>
    </div>
    <div class="login-form">
        <div class="login-header">
            <span>{{'tags.welcome' | translate}}</span>
        </div>
        <div class="login-content">
            <!--<div class="error-massage" [style.visibility]="invalidCredentialMsg?'visible':'hidden'">{{'tags.invalidLogin' | translate}}</div>-->
            <div>
                <form [formGroup]="requestPasswordForm" (ngSubmit)="onFormSubmit()">
                    <div class="notification">
                        <label>Please enter your new password.</label>
                        <label>This page is only available for 30 minutes</label>
                    </div>
                    <mat-form-field class="full-w" floatPlaceholder="always">
                        <input matInput placeholder="{{'tags.email' | translate}}" [readonly]="true" [(ngModel)]="fieldName.email" formControlName="email" autofocus>
                    </mat-form-field>
                    <mat-form-field class="full-w" floatPlaceholder="always">
                        <input type="password" matInput placeholder="{{'tags.userManagement.newPassword' | translate}}" [(ngModel)]="fieldName.newPassword" formControlName="newPassword"
                            autofocus required>
                        <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="color-error fs-12">
                            <div *ngIf="newPassword.errors.required">
                                {{'tags.message.required.field' | translate}}
                            </div>
                        </div>
                        <div *ngIf="requestPasswordForm.hasError('pattern',['newPassword'])" class="color-error fs-12">
                                {{'tags.message.invalid.password' | translate}}
                        </div>
                    </mat-form-field>
                    <mat-form-field class="full-w" floatPlaceholder="always">
                        <input type="password" matInput  appConfirmEqualValidator="newPassword" placeholder="{{'tags.userManagement.confirmNewPassword' | translate}}" [(ngModel)]="fieldName.confirmPassword" formControlName="confirmPassword"
                            autofocus required>
                        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="color-error fs-12">
                            <div *ngIf="confirmPassword.errors.required">
                                {{'tags.message.required.field' | translate}}
                            </div>
                        </div>
                        <div *ngIf="confirmPassword.errors?.notEqual &&(confirmPassword.dirty || confirmPassword.touched)" class="color-error fs-12">
                            {{'tags.message.invalid.password.match' | translate}}
                        </div>
                    </mat-form-field>
                    <div class="m-y-20" fxLayoutAlign="center center">
                        <button type="submit" mat-raised-button class="send-button" [disabled]="requestPasswordForm.invalid" type="submit">{{'tags.update' | translate}}</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="footer-toolbar box-shadow-t" fxLayout="row" fxLayoutAlign="start center">
        <img height="26" src="assets/logo-hitachi.png" />
        <div fxFlex></div>
        <span class="fs-12 color-black">© Hitachi, Ltd. 2018. All rights reserved.</span>
    </div>
</div>