<div fxFill fxLayout="column">
  <div class="m-t-5 flex-position" fxLayout="column">
    <div fxLayout="column" class="p-y-10">
      <form novalidate #myForm="ngForm">
        <div fxLayout="row" fxLayoutAlign="start center">
          <td-file-input name="inputFile" #fileInput (click)="fileInput.clear()" (select)="selectEvent($event)" accept=".csv, .xlsx, .xls">
            <mat-icon>folder</mat-icon>
            <span>{{'tags.browse' | translate}}...</span>
          </td-file-input>
          <span class="p-x-10 limit-name" *ngIf="files" matTooltip="{{files.name}}"> {{ files ? files.name : '' }}</span>
          <span *ngIf="!files?.name" class="p-x-10">No file selected</span>
          <button type="button" mat-icon-button *ngIf="files" (click)="files = null">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
        <div class="m-t-10">
          <button mat-button class="common-btn" type="button" [disabled]="myForm.invalid || !files" (click)="uploadFile()">{{'tags.upload' | translate}}</button>
        </div>
      </form>
    </div>
    <div class="overflow-a m-t-5 wrap-table flex-position-2" fxLayout="column">
      <table td-data-table>
        <thead>
          <tr td-data-table-column-row>
            <th td-data-table-column *ngFor="let column of columns" [name]="column.name" [active]="column.name === sortBy" [sortable]="column.sortable"
              [sortOrder]="sortOrder" (sortChange)="sort($event)" [numeric]="column.numeric">
              {{column.label}}
            </th>
            <th td-data-table-column [style.width.px]="100"> {{'tags.action' | translate}} </th>
          </tr>
        </thead>
        <tbody>
          <tr td-data-table-row *ngFor="let row of filteredData; let j = index" class="clickable"
            [ngClass]="{'bg-gray': j%2!==0}">
            <td td-data-table-cell *ngFor="let column of columns; let i = index" [numeric]="column.numeric">
              {{column.format ? column.format(row[column.name]) : row[column.name]}}
            </td>
            <td td-data-table-cell>
              <div fxLayout="row">
                <button mat-icon-button (click)="onDownloadClick(row)">
                  <mat-icon class="color-1" aria-label="Edit" matTooltip="File Download">file_download</mat-icon>
                </button>
                <button mat-icon-button (click)="onDeleteClick(row)">
                  <mat-icon class="color-1" aria-label="Delete" matTooltip="Delete">delete</mat-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="filteredData.length == 0" class="user-list-body" fxLayout="row" fxLayoutAlign="center center">
          <span class="user-title">{{'tags.message.notFound' | translate}}</span>
      </div>
    </div>    
    <td-paging-bar class="custom-paging-bar"  #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
      <span hide-xs>Page :</span>
      <mat-select [style.width.px]="50" [(ngModel)]= "currentPage" [formControl]="fromCurrentPage" (change)= "navigateToPage(fromCurrentPage.value)">
          <mat-option *ngFor="let size of listPage" [value]="size">
              {{size}}
          </mat-option>
      </mat-select>
      <span hide-xs>{{'tags.rowPerPage' | translate}}</span>
      <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
        <mat-option *ngFor="let size of pageSizes" [value]="size">
          {{size}}
        </mat-option>
      </mat-select>
      <span>{{currentPage}}</span>
      <span hide-xs>{{'tags.of' | translate}} {{totalPage}}</span>
    </td-paging-bar>
  </div>
</div>