.wrapper-content {
  display: flex;
  overflow: auto;
  height: calc(100% - 88px);
  .update-form {
    width: 600px;
    height: 500px;
    margin: auto;
    >:first-child {
      // margin-top: 20%;
    }
    .title-intro {
      font-size: xx-large;
      color: red;
      font-weight: 700;
      margin: 30px 0;
      text-align: center;
    }
    .content {
      width: 500px;
      margin: auto;
    }
    .message-title {
      font-weight: 600;
      text-align: center;
    }
  }
}

