<div fxFill fxLayout="column">
  <div class="heading-toolbar box-shadow"></div>
  <div class="wrapper-content">
    <div class="update-form">
      <div>
        <div class="title-intro">ADVANCED FACILITY MANAGEMENT</div>
        <div class="m-t-25">
          <div class="message-title">{{'tags.message.enterPW' | translate}}</div>
          <div class="m-y-20">
            <form (ngSubmit)="onFormSubmit()">
              <mat-form-field class="full-w" floatPlaceholder="always">
                <input type="email"  matInput value="" placeholder="{{'tags.userManagement.id' | translate}}">
              </mat-form-field>
              <mat-form-field class="full-w" floatPlaceholder="always">
                <input required type="password" matInput placeholder="{{'tags.userManagement.temporaryPassword' | translate}}" [(ngModel)]="updateModel.temporaryPassword" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
              <mat-form-field class="full-w" floatPlaceholder="always">
                <input required type="password" matInput placeholder="{{'tags.userManagement.newPassword' | translate}}" [(ngModel)]="updateModel.newPassword" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
              <mat-form-field class="full-w" floatPlaceholder="always">
                <input required type="password" matInput placeholder="{{'tags.userManagement.confirmNewPassword' | translate}}" [(ngModel)]="updateModel.confirmPassword" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
              <div class="m-t-15" fxLayoutAlign="center center">
                <button mat-raised-button class="red-btn" type="submit">{{'tags.send' | translate}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-toolbar box-shadow-t" fxLayout="row" fxLayoutAlign="start center">
    <img height="26" src="assets/logo-hitachi.png" />
    <div fxFlex></div>
    <span class="fs-12 color-black">© Hitachi, Ltd. 2018. All rights reserved.</span>
  </div>
</div>